.login-card {
    max-width: 500px;
    min-width: 450px;
    text-align: center;
}
.login-card-header {
    display: block;
    text-align: center;
}

.main-div {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 100%;
}
.login-form-field {
    width: 100%;
    text-align: center;
}
.form-field-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 1px !important;
    background-color: transparent;
}